*{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: monospace;   
    font-display: white;
    background-color: rgb(196, 246, 246);
}

.title{
   font-size: 450%;
   text-align: center;
   
}

.no_auth{
    background-color: rgb(135, 106, 195);
    padding: 2%;
}

.basic_auth{
    background-color: rgb(185, 219, 165);
    padding: 2%;
}
.api_key{
    background-color: rgb(211, 201, 148);
    padding: 2%
}
.bearer_token{
    background-color: rgb(153, 92, 134);
    padding: 2%;
}
.data_display{
    padding: 3%;
    background-color: rgb(147, 223, 223);
}
.d_display{
    background-color: rgb(147, 223, 223);
}